<div class="col-md-11">
<div class="well">
<h3>About Handoff</h3>
<h4>Overview</h4>
<p>
Handoff is a platform for next generation care coordination. With Handoff, 
providers can collaboratively annotate FHIR-accessible electronic medical
records to insure efficient and continuous care. Handoff is meant to 
supplant the phone calls, texts and other forms of informal communication
that are essential to care coordination but largely overlooked by 
contemporary EHR systems.
</p>
<h4>How it Works</h4>
<p>
Handoff allows users to fetch external FHIR records and then annotate them.
The resultant annotated record is called a 'handoff' and the user is able
to share the handoff with other providers, who may also contribute to the
annotations and discussion.
</p>
<p>
Handoff doesn't store FHIR records locally. Instead, handoffs 
refer to external FHIR records. When a provider views a handoff, the FHIR
record is fetched from the external source and then combined with the locally
stored annotations. Handoff annotations do not become a permanent part of 
the FHIR-accessible. They are intended to be relatively transient 
communications that expire after a period of inactivity by all collaboraters.
</p>
</div>
</div>
