<div class="well">
<h3>Credits</h3>
<p>
Handoff was developed by team 'ML Rehab' for the Spring 2015 offering of Georgia Tech's CS 6440 - Health Informatics course.
</p>
<h4>Team Members</h4>
<ul>
  <li>Edward Anderson</li>
  <li>Corey Featherly</li>
  <li>Kyle McIntyre</li>
  <li>Jonathan Young</li>
  <li>Michael Wytock</li>
</ul>
</div>
