<% button_action_class = @handoff.present? ? 'btn-annotate' : 'btn-create-handoff' %>
<button class="btn btn-default pull-right <%= button_action_class %>" title="Annotate this">
  <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
</button>
