<div class="col-md-10 col-md-offset-1">
  <h1>Patients</h1>
  <table id="patients" class="display">
    <thead>
      <tr>
        <th>Patient Name</th>
        <th>Patient ID</th>
        <th>Patient Birthday</th>
      </tr>
    </thead>
    <tbody>
    <% @directory.each do |a_patient| %>
      <tr>
        <td><%= link_to a_patient.full_name, patient_path(a_patient) %></td>
        <td><%= a_patient.pid %></td>
        <td><%= a_patient.birthday %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<% content_for :body_end do %>
  <script type="text/javascript">
$(document).ready(function() {
    $('#patients').dataTable({
      "bLengthChange": false,
      "iDisplayLength": 50
    });
} );
  </script>
<% end %>
