<div class="col-md-10 col-md-offset-1">
  <h1>Patients</h1>
  <% @directory.each do |a_patient| %>
    <p><%= link_to "#{a_patient.full_name}: (#{a_patient.pid})", "#{patients_path}/#{a_patient.pid}" %></p>
  <% end %>
</div>
