<div class="row">
  <div class="col-md-2">
    <div class="well">
      <h3>Marla Lewis</h3>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#overview">Overview</a></li>
        <li><a href="#observations">Observations</a></li>
        <li><a href="#conditions">Conditions</a></li>
        <li><a href="#prescriptions">Prescriptions</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-7">
    <a name="overview"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Patient Overview
      </div>
      <div class="panel-body">
        I have diabetes.
      </div>
    </div>
    <a name="observations"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Observations
      </div>
      <div class="panel-body">
        <div id="observation-1" class="annotatable">
          I have diabetes.
        </div>
      </div>
    </div>
    <a name="conditions"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Conditions
      </div>
      <div class="panel-body">
        <div id="condition-1" class="annotatable">
          I have diabetes.
        </div>
      </div>
    </div>

    <a name="prescriptions"></a>
    <div class="panel panel-default">
      <div class="panel-heading">
        Prescriptions
      </div>
      <div class="panel-body">
        <div id="advil-1" class="annotatable">
          Advil
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-3">
  </div>
</div>
