@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "jquery.dataTables";
@import "welcome";
@import "patients";
@import "handoffs";

.fixed {
  position: fixed;
}

.modal-dialog{
  width: 800px
}

.modal-backdrop {
  opacity:0.5 !important;
}

td {
  padding: 0 0 0 10px
}
