.annotations-for-id {
  box-shadow: white 0px 0px 20px 15px;
}

.annotations-for-id:hover {
  z-index: 1;
}

.raised {
  z-index: 2;
}

.annotation-pointer {
  position: absolute;
  font-size: 30px;
  left: -11px;
  top: 5px;
  color: $panel-info-border;
}
