// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a.anchor {
  display: block; 
  position: relative; 
  top: -62px; 
  visibility: hidden;
}

.patient-nav {
  margin-left: 15px;
  margin-bottom: 0px;
}
